<div class="d-flex justify-content-center h-100">
  <form class="form-signin text-center align-self-center">
    <p *ngIf="message$ | async as message">
      {{ message.responseMessage }}<br>
      {{ message.clientPrincipal | json }}<br>
    </p>

    <!--        <button type="button" (click)="onSubmit()" *ngIf="!authService.isLoggedIn">Auth Login</button>-->
    <!--        <button (click)="logout()" *ngIf="authService.isLoggedIn">Logout</button>-->

    <div *ngIf="user$ | async as user">
      <h3>User details</h3>
      <pre>{{ user | json }}</pre>

      <div *ngIf="user.clientPrincipal; else elseBlock">
        <h3>Username: <small>{{ user.clientPrincipal?.userDetails }}</small></h3>

        <br>
        <a href=".auth/logout">Logout</a>
      </div>

    </div>
    <ng-template #elseBlock>
      <h2>LOGIN</h2>
      <ul class="list-unstyled">
        <li><a href=".auth/login/github">Login with GitHub</a></li>
        <li><a href=".auth/login/twitter">Login with Twitter</a></li>
        <li><a href=".auth/login/bub">Login with BubHub</a></li>
      </ul>
    </ng-template>


  </form>
</div>
